<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <!-- Required meta tags -->
  <link rel="icon" href="./favicon.png">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link rel="stylesheet"  type="text/css"  href="assets/css/material-dashboard.css?v=2.1.2" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="lib/sweetalert/dist/sweetalert.css">
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Press Trust's PIMIS
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        V 2.0.2
          {{!-- <img style="width:50px;height:auto;"  src="https://www.presstrust.mw/wp-content/uploads/2021/04/logo_.png" alt=""> --}}
        </a>
        
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {{#ifeq title 'Dashboard'}}active{{/ifeq}}  ">
            <a class="nav-link" href="dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {{#ifeq title 'Users'}}active{{/ifeq}}">
            <a class="nav-link" href="./users">
              <i class="material-icons">person</i>
              <p>User Management</p>
            </a>
          </li>
          <li class="nav-item {{#ifeq title 'Project Update'}}active{{/ifeq}} {{#ifeq title 'Projects'}}active{{/ifeq}} {{#ifeq title 'Create Project'}}active{{/ifeq}} {{#ifeq title 'Project View'}}active{{/ifeq}} ">
            <a class="nav-link" href="project-list">
              <i class="material-icons">content_paste</i>
              <p>Project Management</p>
            </a>
          </li>
          <li class="nav-item {{#ifeq title 'Investments Registry'}}active{{/ifeq}}{{#ifeq title 'View Investment'}}active{{/ifeq}}{{#ifeq title 'View Dividend'}}active{{/ifeq}}{{#ifeq title 'View Performance'}}active{{/ifeq}}{{#ifeq title 'Create Investment'}}active{{/ifeq}}{{#ifeq title 'Update Performance'}}active{{/ifeq}}">
            <a class="nav-link dropdown" href="./commercial-investments">
              <i class="material-icons">library_books</i>
              <p>Commercial Investments</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./resports">
              <i class="material-icons">bubble_chart</i>
              <p>Reporting</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./map.html">
              <i class="material-icons">location_ons</i>
              <p>Global Settings</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./user_manual">
              <i class="material-icons">notifications</i>
              <p>Use Manual</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./rtl.html">
              <i class="material-icons">language</i>
              <p>RTL Support</p>
            </a>
          </li>
          
          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="dashboard">PIMIS | {{title}}</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:;">
                  <i class="material-icons">notifications</i> Notifications
                </a>
              </li>
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          <div class="row">
            <div class="col-12 text-center">
                 {{#ifnoteq alert null}}

                <div class="alert alert-{{alert.status}} alert-with-icon">
                   <i class="material-icons" data-notify="icon">add_alert</i>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <span>
                        <b> {{#ifeq alert.status 'success'}} Success {{/ifeq}} {{#ifeq alert.status 'danger'}} Error {{/ifeq}} {{#ifeq alert.status 'warning'}} Warning {{/ifeq}}- </b> {{alert.message}} </span>
                        {{!-- <b> Success - </b> This is a regular notification made with ".alert-success"</span> --}}
                </div>

                {{/ifnoteq}}
            </div>
          </div>
          {{{body}}}
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.presstrust.mw/">
                  PRESS Trust
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://web.facebook.com/people/Sayiba/100049697275432?_rdc=1&_rdr" target="_blank">SAYIBA Lab.</a> for a better web.
          </div>
          <!-- your footer here -->
        </div>
      </footer>
    </div>
  </div>
  <script src="/lib/sweetalert/dist/sweetalert.min.js" ></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</body>

</html>