<div class="row">
    <div class="col-12">
        <h4 style="font-family: impact;" class="p-2 display-4 bg-dark text-white text-center">Busaries By School</h4>
    </div>
    <div class="col-12">
        <table class="table-sm table table-bordered table-hover" id="schools_table">
            <thead class="bg-secondary">
                {{!-- <th>SCHOOL ID</th> --}}
                <th>SCHOOL NAME</th>
                <th>DISTRICT</th>
                <th>CONTACT ADDRESS</th>
                <th>CONTACT PHONE</th>
                <th></th>
            </thead>
            <tbody>
                {{#each SecondarySchools}}
                    <tr>
                        {{!-- <td>{{this.SID}}</td> --}}
                        <td>{{this.SecondarySchool}}</td>
                        <td>{{this.DistrictName}}</td>
                        <td>{{this.SchoolContactAddress}}</td>
                        <td>{{this.SchoolContactPhone}}</td>
                        <td>
                            <a href="/BusariesList?sid={{this.SID}}" class="btn btn-sm btn-danger">
                                Open
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
    </div>
    <div class="col-12">
         <a href="/RegisterBusary" class="btn btn-dark"><i class="fa fa-graduation-cap" aria-hidden="true"></i> New Bursary/a>
        <a href="/RegisterSecondarySchool" class="btn btn-success"><i class="fa fa-school" aria-hidden="true"></i> Register New School</a>
    </div>
</div>
<style>
    table.table tbody tr td{
        font-size: 14px;
    }
    .bg-info th{
        color: white;
    }
</style>
<script>
    $(document).ready(()=>{
        
        $("#schools_table").DataTable({
            pageLength:50,
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        })
    })
</script>
