<div class="row">
     {{!-- <div class="col-12">
         <h4 style="font-family: impact;" class="p-2 row display-4 bg-dark text-white text-center">
            <div class="col-12"><a class="float-left text-white" href="/Busaries"><i class="fa fa-arrow-left"></i> Go Back</a> {{SchoolName}}</div>
        </h4>
        <hr>
    </div> --}}
    <div class="col-12">
        {{!-- <legend style="font-size:13px;color:red;font-weight:900;">Search Filter</legend> --}}
        <div class="container ">
             <form class="form ui form-row  bg-dark py-1" action="/Busaries" method="GET">
                <div class="col-4">
                                <label style="font-weight:bold;color:white !important;">All Schools</label>
                                <select name="sid"  class="form-control">
                                     <option value="">Select</option>
                                    
                                     {{#each SecondarySchools}}
                                        <option {{#ifeq this.SID searchParams.SID}}selected{{/ifeq}} value="{{this.SID}}">{{this.SecondarySchool}}</option>
                                     {{/each}}
                                </select>
                </div>
                <div class="col-2">
                    <label style="font-weight:bold;color:white !important;">Approval Status</label>
                    <select name="approved" id="" class="form-control">
                        <option  value="">All</option>
                        <option {{#ifeq searchParams.ApprovalStatus 0}}selected{{/ifeq}} value="0">Pending</option>
                        <option {{#ifeq searchParams.ApprovalStatus 1}}selected{{/ifeq}} value="1">Approved</option>
                        <option {{#ifeq searchParams.ApprovalStatus 2}}selected{{/ifeq}} value="2">Rejected</option>
                    </select>
                </div>
                <div class="col-2 pt-4">
                    <button type="submit" class="btn btn-success">Search <i class="icon search"></i></button>
                </div>
                <div class="col-4 pt-4 text-center">
                    {{#ifeq resultCount  0}} 
                        <label style="font-weight:bold;" class="text-danger">No result found!</label> 
                    {{else}}
                        <label style="font-weight:bold;" class="text-success">Found {{resultCount}} records!</label> 
                    {{/ifeq}}

                 
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">
      
        <div class="card">
                <div class="card-header card-header-primary" style="background-color:#bc8b47 !important;">
                  <h4 class="card-title ">
                    {{!-- <i class="fa fa-th-list" aria-hidden="true"></i>  --}}
                    Bursary Beneficiaries List</h4>
                  {{!-- <p class="card-category">All Projects</p> --}}
                </div>
                <div class="card-body">
                    
                  <div class="table-responsive">
                      <table class="table-sm table table-striped table-bordered table-sm" id="busaries_list_table">
                        <thead class="bg-secondary p-3">
                        
                            <th>Student_Name</th>
                            {{!-- <th>Date_Joined</th> --}}
                            <th>Scholarship_Type</th>
                            {{!-- <th>Classes_Completed</th> --}}
                            <th>School_Name</th>
                            <th>Current_Class</th>
                            <th>Cohort</th>
                            <th>Performance</th>
                            <th>Current_Fees</th>
                            <th>Total_Fees</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {{#each BusariesList}}
                                <tr>
                                    <td>{{this.StudentName}}</td>
                                    {{!-- <td>{{this.DateJoined}}</td> --}}
                                    <td>{{this.SchemeName}}</td>
                                    <td>{{this.SecondarySchool}}</td>
                                    <td>{{this.CurrentClass}}</td>
                                    <td>{{this.Cohort}}</td>
                                    <td>{{this.Performance}}</td>
                                    <td>{{formatCurrency this.CurrentFees}}</td>
                                    <td>{{formatCurrency this.TotalFees}}</td>
                                    <td>
                                        <a href="/ViewBusary?bid={{this.ID}}" class="btn btn-sm btn-primary">
                                            View <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      
        <hr>
        <a  href="/RegisterBusary" class="btn btn-block btn-success"> <i class="fa fa-graduation-cap" aria-hidden="true"></i> Register New Busary </a>
    </div>
</div>

<style>
     @import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,600,600italic,700,700italic);

    body {
        font-family: 'Roboto';
        background-color: #f9f9f9;
    }

    .round-btn{
        width:40px;
        height:40px;
        border-radius: 50%;
        background:rgb(62, 62, 126);
        color:white;
        padding:3px;
    }

    thead th {
        font-size: 10px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        color:white;
    }

    tbody tr td {
        font-size: 12px !important;
    }

</style>
<script>
    $(document).ready(()=>{
        $("#busaries_list_table").DataTable({
            pageLength:50,
            dom: 'Bfrtip',
            buttons: [
                'excel',
                'csvHtml5',
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }
            ],
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ]
        })
    })
</script>