<div class="row">
    
    <div class="col-9">
          <fieldset class="border border-secondary">
            <legend>Search Engine</legend>
            <form class="form ui form-row  py-1" action="/Busaries" method="GET">
                <div class="col-4">
                                <label style="font-weight:bold;;">All Schools</label>
                                <select name="sid"  class="form-control">
                                     <option value="">Any</option>
                                     {{#each SecondarySchools}}
                                        <option {{this.selected}} value="{{this.SID}}">{{this.SecondarySchool}}</option>
                                     {{/each}}
                                </select>
                </div>
                <div class="col-2">
                    <label style="font-weight:bold;;">Approval Status</label>
                    <select name="approved" id="" class="form-control">
                        <option  {{#ifeq ApprovalStatus null}}selected{{/ifeq}} value="any">Any</option>
                        <option {{#ifeq ApprovalStatus 0}}selected{{/ifeq}} value="0">Pending</option>
                        <option {{#ifeq ApprovalStatus 1}}selected{{/ifeq}} value="1">Approved</option>
                        <option {{#ifeq ApprovalStatus 2}}selected{{/ifeq}} value="2">Rejected</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="">Bursary Scheme</label>
                    <select name="scheme" id="" class="form-control">
                            <option value="">Any</option>
                          {{#each Schemes}}
                                <option {{this.selected}} value="{{this.SchemeName}}">{{this.SchemeName}}</option>
                          {{/each}}
                    </select>
                </div>
                <div class="col-2 pt-4">
                    <button type="submit" class="btn mt-2 btn-primary">Search <i class="icon search"></i></button>
                </div>
               
            </form>
          </fieldset>
    </div>
    <div class="col-3 pt-4">
        <a  href="/RegisterBusary" class="btn mt-2 btn-block btn-success"> <i class="fa fa-graduation-cap" aria-hidden="true"></i> Register New Bursary </a>
    </div>
     <div class="col-12"><hr></div>
    <div class="col-12 mt-2">
      
                    
                  <div class="table-responsive">
                      <table class="table-sm table table-striped table-bordered table-sm" id="busaries_list_table">
                        <thead class="bg-secondary p-3">
                        
                            <th>Student_Name</th>
                            {{!-- <th>Date_Joined</th> --}}
                            <th>Scholarship_Type</th>
                            {{!-- <th>Classes_Completed</th> --}}
                            <th>Secondary_School_Name</th>
                            <th>Current_Class</th>
                            <th>Cohort</th>
                            <th>Performance</th>
                            {{!-- <th>Current_Fees</th> --}}
                            <th>Approval_Status</th>
                            <th>Total_Fees</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {{#each BusariesList}}
                                <tr>
                                    <td>{{this.StudentName}}</td>
                                    {{!-- <td>{{this.DateJoined}}</td> --}}
                                    <td>{{this.SchemeName}}</td>
                                    <td>{{this.SecondarySchool}}</td>
                                    <td>{{this.CurrentClass}}</td>
                                    <td>{{this.Cohort}}</td>
                                    <td>{{this.Performance}}</td>
                                    {{!-- <td>{{formatCurrency this.CurrentFees}}</td> --}}
                                    <th>
                                        {{#ifeq this.Approved 0}}
                                            <span class="badge badge-danger">Pending</span>
                                        {{/ifeq}}
                                        {{#ifeq this.Approved 1}}
                                            <span class="badge badge-success">Approved</span>
                                        {{/ifeq}}
                                        {{#ifeq this.Approved 2}}
                                            <span class="badge badge-danger">Rejected</span>
                                        {{/ifeq}}
                                    </th>
                                    <td>{{formatCurrency this.TotalFees}}</td>
                                    <td >
                                        <a href="/ViewBusary?bid={{this.ID}}" class="ui d-inline button circular mini icon primary">
                                            <i class="icon eye"></i> 
                                        </a>
                                        
                                    </td>
                                    <td>
                                        <a href="/update-bursary?bid={{this.ID}}" class="ui d-inline button circular mini icon orange">
                                            <i class="icon edit"></i> 
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
        
     
    </div>
</div>

<style>
     @import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,600,600italic,700,700italic);

    body {
        font-family: 'Roboto';
        background-color: #f9f9f9;
    }

    .round-btn{
        width:40px;
        height:40px;
        border-radius: 50%;
        background:rgb(62, 62, 126);
        color:white;
        padding:3px;
    }

    thead th {
        font-size: 10px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        color:white;
    }

    tbody tr td {
        font-size: 12px !important;
    }

</style>
<script>
    $(document).ready(()=>{
        $("#busaries_list_table").DataTable({
            pageLength:50,
            dom: 'Bfrtip',
            buttons: [
                'excel',
                'csvHtml5',
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }
            ],
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ]
        })
    })
</script>