<div class="row">
    <div class="col-6">
        <div class="container-fluid card bg-dark">
            <div class="card-header card-header-primary">
				<h4 class="card-title text-white">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					Edit Application / Project ({{project.FileRefNo}})
				</h4>
			</div>
 
    <form class="form-group card-body" action = "/projects/edit" method="POST">
       <table class="table table-sm table-striped table-bordered">
            <tr class="col-3">
                <th>File Ref N<sup>o</sup>   </th>
                <th>
                    <input type="hidden" name="FileRefNo" readonly class="form-control"  value="{{project.FileRefNo}}" required/>
                    <input type="text" name="NewFileRefNo" class="form-control"  value="{{project.FileRefNo}}" required/></th>
            </tr>
            <tr class="col-6">
                <th>Name Of Applicant   </th>
                <th><input type="text" name="ApplicantName" class="form-control" value = "{{project.ApplicantName}}" required/></th>
            </tr>
            <tr class="col-3">
                <th>Date Of Application</th>
                <th><input type="text" disabled name="ApplicationDate" class="datepicker form-control" value="{{dateFormat project.ApplicationDate}}" required/></th>
            </tr>
           
        </table>
       <table class="table table-sm table-striped table-bordered">
            <tr class="col-12 py-3">
                <th>Description</th>
                <th><textarea name="ProjectDescription" class="form-control" cols="30" rows="3">{{project.ProjectDescription}}</textarea></th>
            </tr>
        </table>
       <table class="table table-sm table-striped table-bordered">
            
            <tr class="col-3">
                <th>Project Type</th>
                <th><select name="ProjectType" class="form-control" >
                    <option value="" disabled>Select</option>
                    <option value="1" {{#ifeq project.ProjectType '1'}} selected {{/ifeq}}>Normal Project</option>
                    <option value="2" {{#ifeq project.ProjectType '2'}} selected {{/ifeq}}>Once-Off Project</option>
                </select></th>
            </tr>
            <tr class="col-3">
                <th>Number Of Beneficiaries</th>
                <th><input type="number"  step="1" min="0" class="form-control" name="Beneficiary" value="{{project.Beneficiary}}" /></th>
            </tr>
            <tr class="col-3">
                <th>Review Date</th>
                <th><input type="date" disabled  name="DateReviewed" class="form-control" value="{{dateFormat project.DateReviewed}}" required/></th>
            </tr>
            <tr class="col-3">
                <th>Funding Sector</th>
                <th><select class="form-control" name="FundingSector" >
                    <option value=""   disabled>Select</option>
                    {{#each sectors}}<option {{#ifeq project.FundingSector this.ID}} selected {{/ifeq}} value="{{this.ID}}">{{this.Sector}}</option>{{/each}}
                </select></th>
            </tr>
        </table>
       <table class="table table-sm table-striped table-bordered">
             <tr class="col-6">
                <th>Contractor Name</th>
                <th><input type="text" name="ContractorName"  class="form-control" value="{{project.ContractorName}}">
            </tr>
            <tr class="col-3">
                <th>District</th>
                <th><select name="District" class="form-control" required>
                    <option value=""  disabled>Select</option>
                    {{#each districts}}<option value="{{this.ID}}" {{#ifeq project.District this.ID}} selected {{/ifeq}} >{{this.DistrictName}}</option>{{/each}}
                </select></th>
            </tr>
            <tr class="col-3">
                <th>Requested Amount</th>
                <th><input type="number" step="1" min="0" class="form-control" value="{{project.AmountRequested}}" placeholder="(Required)" name="AmountRequested" >
            </tr>
        </table>
       <table class="table table-sm table-striped table-bordered">
            
            
             <tr class="col-4">
                <th>Project Promoter</th>
                <th><input type="text" name="ProjectPromoter" class="form-control" value="{{project.ProjectPromoter}}">
            </tr>
            <tr class="col-6">
                <th>Contact Address</th>
                <th><input type="text" name="ContactAddress" class="form-control" value="{{project.ContactAddress}}">
            </tr>
            <tr class="col-2">
                <th>Contact Phone</th>
                <th><input type="text" name="ContactPhone" class="form-control" value="{{project.ContactPhone}}">
            </tr>
        </table>

       <table class="table table-sm table-striped table-bordered">
             
             
            <tr class="col-4">
                <th>Co-Financier</th>
                <th><input type="text" value="{{project.ConFinancier}}" class="form-control" name="CoFinancier" /></th>
            </tr>
            <tr class="col-4">
                <th>Project Stakeholders</th>
                <th><input type="text" placeholder="Separate values by Comma" value="{{project.ProjectStakeholders}}" class="form-control" name="ProjectStakeholders" /></th>
            </tr>
            <tr>
                <th>Project Status</th>
                <th>
                    <select name="ProjectStatus" onchange="switchView(this.value)" class="form-control">
                        {{#each ProjectStatus}}
                            <option {{this.selected}} value="{{this.ID}}">{{this.ProjectStatus}}</option>
                        {{/each}}
                    </select>
                </th>
            </tr>
        </table>
        
    </div>
    
</div>
    <div class="col-5"></div>
    <div class="col-7" >	
        <div class="card bg-dark conditional-views d-none" id="furtherInvestigationSection">
            <div class="card-body">
                <table class="table-sm table-striped table-bordered">
                    <tr>
                        <th>Reason(s) for need of further investigations</th>
                        <th>
                            <textarea name="FurtherInvestigationReason" placeholder="Type reason here..." cols="30" rows="2" class="form-control"></textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>Status Of Investigation</th>
                        <th>
                            <input type="text" name="InvestigationStatus" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>Date of subsequent review for project application</th>
                        <th><input type="date" class="form-control"></th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card bg-dark conditional-views d-none" id="rejected">
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>Reason(s) For Rejection</th>
                        <th>
                            <textarea name="RejectionReason" placeholder="Type reason here..." cols="30" rows="2" class="form-control" required></textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>Has The Applicant Been Notified ?</th>
                        <th>
                            <select name="Notified" class="form-control" required>
                                <option value=""></option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </th>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="col-12">
           <button class="btn btn-success ">Save Data <i class="icon save"></i></button>  
    </div>
</div>
<script>
    let switchView = (value)=>{
        $(".conditional-views").addClass('d-none')
        if(value == 2){
            $("#furtherInvestigationSection").removeClass('d-none')
        }else if(value == 5){
            $("#rejected").removeClass('d-none')
        }
    }
</script>