<div class="row">
	<div class="col-12">
		{{! <button class="btn btn-outline-primary"><i class="fa fa-search" aria-hidden="true"></i> Advanced Search</button> |  }}
		<a href="/project-create" class="btn btn-primary"><i
				class="fa fa-plus-square"
				aria-hidden="true"
			></i>
			New Application</a>
	</div>
</div>
<div class="card">
	<div
		class="card-header card-header-primary"
		style="background-color:#bc8b47 !important;"
	>
		<h4 class="card-title"><i class="fa fa-th-list" aria-hidden="true"></i>
			Projects List</h4>
		{{! <p class="card-category">All Projects</p> }}
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table
				class="table table-hover table-sm table-striped table-bordered"
				id="projects_table"
			>
				<thead class="text-primary">
					{{! <th>Ref</th> }}
					<th>ApplicantName</th>
					<th>Sector</th>
					<th>District</th>
					<th>Beneficiaries</th>
					{{!-- <th>Description</th> --}}
					<th>AmountRequest</th>
					<th>FundApproved</th>
					<th>Date_Applied</th>
					<th>ProjectStatus</th>
					<th style="color:white;"></th>
					<th style="color:white;"></th>
				</thead>
				<tbody>
					{{#each projects}}
						<tr>
							{{!-- <td>{{this.FileRefNo}}</td> --}}
							<td>{{this.ApplicantName}}</td>
							<td>
								{{#ifeq this.FundingSector 1}} Education {{/ifeq}}
								{{#ifeq this.FundingSector 2}} Health {{/ifeq}}
								{{#ifeq this.FundingSector 3}} Social Welfare {{/ifeq}}
								{{#ifeq this.FundingSector 4}} Housing {{/ifeq}}
								{{#ifeq this.FundingSector 5}} Scientific Research {{/ifeq}}
								{{#ifeq this.FundingSector 6}}
									Environmental Conservation{{/ifeq}}
								{{#ifeq this.FundingSector 7}} Sports & Culture {{/ifeq}}
								{{#ifeq this.FundingSector 8}} Disability Relief {{/ifeq}}

							</td>
							<td>{{this.DistrictName}}</td>
							<td>{{this.Beneficiary}}</td>
							{{!-- <td>{{this.ProjectDescription}}</td> --}}

							<td>{{#ifnoteq this.AmountRequested null}}
									{{formatCurrency this.AmountRequested}}
								{{/ifnoteq}}</td>
							<td>{{#ifnoteq this.FundsApproved null}}
									{{formatCurrency this.FundsApproved}}
								{{/ifnoteq}}</td>
							<td>{{this.DateRequested}}</td>
							<td>{{this.ProjectStatus}}</td>

							<td>
								<div style="display:inline !important;">
									<a
										href="project-view?FileRefNo={{this.FileRefNo}}"
										class="ui button mini circular teal icon text-black"
										style="color:white !important;"
									><i class="fa fa-eye"></i></a>
								</div>

							</td>
							<td>
								<div style="display:inline !important;">
									<a
										href="project-edit?FileRefNo={{this.FileRefNo}}"
										class="ui button mini circular yellow icon text-black"
										style="color:black !important;"
									><i class="icon edit" aria-hidden="true"></i></a>
								</div>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	$(document).ready(()=>{ let table = $("#projects_table").DataTable({
	pageLength:50, responsive:true, dom:'Bfrtip', buttons: [ 'excel', 'csvHtml5',
	{ extend: 'pdfHtml5', orientation:'landscape', pageSize: 'LEGAL' } ], })
	table.columns().every( function () { var that = this; $( 'input',
	this.footer() ).on( 'keyup change', function () { that .search( this.value )
	.draw(); } ); } ); })
</script>