<div class="row">
	<div class="col-12">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		
		<li class="nav-item">
			<a class="nav-link active" id="new-tab" data-toggle="tab" href="#newApplication" role="tab" aria-controls="newApplication" aria-selected="false">New Applications</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="active-tab" data-toggle="tab" href="#activeProjects" role="tab" aria-controls="activeProjects" aria-selected="false">Active Projects</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " id="all-tab" data-toggle="tab" href="#completeProjects" role="tab" aria-controls="completeProjects" aria-selected="true">Completed Projects</a>
		</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="newApplication" role="tabpanel" aria-labelledby="new-tab">
			<div class="col-12 pt-1">
				<a href="/project-create" class="btn btn-secondary"><i
						class="fa fa-plus-square"
						aria-hidden="true"
					></i>
					New Application</a>
			</div>
			<div class="col-12 mt-3">
				<div class="table-responsive">
					<table
						class="table-sm table table-striped table-bordered table-sm" 
					>
						<thead class="bg-secondary">
							<th>Ref</th> 
							<th>Applicant Name</th>
							<th>Sector</th>
							<th>District</th>
							{{!-- <th>Beneficiaries</th> --}}
							{{!-- <th>Description</th> --}}
							<th>Amount_Requested</th>
							<th>Date_Applied</th>
							<th>Application_Status</th>
							<th style="color:white;"></th>
							<th style="color:white;"></th>
						</thead>
						<tbody>
							{{#each NewApplications}}
								<tr>
									<td>{{this.ID}}</td>
									<td>{{this.ApplicantName}}</td>
									<td>{{this.FundingSector}}</td>
									<td>{{this.DistrictName}}</td>
									{{!-- <td>{{this.Beneficiary}}</td> --}}
									<td>{{formatCurrency this.AmountRequested}}</td>
								
									<td>{{dateFormat this.ApplicationDate}}</td>
									<td>{{this.ApplicationStatus}}</td>

									<td>
										<div style="display:inline !important;">
											<a
												href="project-view?FileRefNo={{this.FileRefNo}}"
												class="text-primary"
											><i class="icon folder open"></i></a>
										</div>

									</td>
									<td>
										<div style="display:inline !important;">
											<a 
												href="project-edit?FileRefNo={{this.FileRefNo}}"
												class="text-warning"
											><i class="icon edit" aria-hidden="true"></i></a>
										</div>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="tab-pane fade" id="activeProjects" role="tabpanel" aria-labelledby="active-tab">
				<div class="table-responsive pt-3">
					<table
						class="table-sm table table-striped table-bordered table-sm"
						id="projects_table"
					>
						<thead class="bg-secondary">
							<th>Ref</th> 
							<th>Applicant_Name</th>
							<th>Sector</th>
							<th>District</th>
							{{!-- <th>Beneficiaries</th> --}}
							{{!-- <th>Amount_Requested</th> --}}
							<th>Funds_Approved</th>
							<th>Date_Applied</th>
							<th>Project_Status</th>
							<th style="color:white;"></th>
							<th style="color:white;"></th>
						</thead>
						<tbody>
							{{#each ActiveProjects}}
								<tr>
									<td>{{this.FileRefNo}}</td>
									<td>{{this.ApplicantName}}</td>
									<td>{{this.FundingSector}}</td>
									<td>{{this.DistrictName}}</td>
									{{!-- <td>{{this.Beneficiary}}</td>  --}}
									{{!-- <td>{{this.AmountRequested}}</td>  --}}
									<td>{{formatCurrency this.FundsApproved}}</td>
									<td>{{dateFormat this.ApplicationDate}}</td>
									<td>{{this.ApplicationStatus}}</td>

									<td>
										<div style="display:inline !important;">
											<a
												href="project-view?FileRefNo={{this.FileRefNo}}"
												class="text-primary"
											><i class="icon folder open"></i></a>
										</div>

									</td>
									<td>
										<div style="display:inline !important;">
											<a 
												href="project-edit?FileRefNo={{this.FileRefNo}}"
												class="text-warning"
											><i class="icon edit" aria-hidden="true"></i></a>
										</div>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
		</div>
		<div class="tab-pane fade show" id="completeProjects" role="tabpanel" aria-labelledby="all-tab">
			<div class="table-responsive">
					<table
						class="table-sm table table-striped table-bordered table-sm"
						id="projects_table"
					>
						<thead class="bg-secondary">
							<th>Ref</th> 
							<th>Applicant_Name</th>
							<th>Sector</th>
							<th>District</th>
							{{!-- <th>Beneficiaries</th> --}}
							{{!-- <th>Amount_Requested</th> --}}
							<th>Funds_Disbursed</th>
							<th>Date_Applied</th>
							<th>Project_Status</th>
							<th>Completion_Date</th>
							<th style="color:white;"></th>
							<th style="color:white;"></th>
						</thead>
						<tbody>
							{{#each CompletedProjects}}
								<tr>
									<td>{{this.FileRefNo}}</td>
									<td>{{this.ApplicantName}}</td>
									<td>{{this.FundingSector}}</td>
									<td>{{this.DistrictName}}</td>
									{{!-- <td>{{this.Beneficiary}}</td>  --}}
									{{!-- <td>{{this.AmountRequested}}</td>  --}}
									<td>{{formatCurrency this.FundsDisbursed}}</td>
									<td>{{dateFormat this.ApplicationDate}}</td>
									<td>{{this.ApplicationStatus}}</td>
									<td>{{dateFormat this.DateClosed}}</td>

									<td>
										<div style="display:inline !important;">
											<a
												href="project-view?FileRefNo={{this.FileRefNo}}"
												class="text-primary"
											><i class="icon folder open"></i></a>
										</div>

									</td>
									<td>
										<div style="display:inline !important;">
											<a 
												href="project-edit?FileRefNo={{this.FileRefNo}}"
												class="text-warning"
											><i class="icon edit" aria-hidden="true"></i></a>
										</div>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
		</div>
		
		</div>
	</div>
	
</div>

{{!-- <div class="card">
	<div
		class="card-header card-header-primary"
		style="background-color:#da9331 !important;"
	>
		<h4 class="card-title text-white"><i class="fa fa-th-list" aria-hidden="true"></i>
			Projects List</h4>
		{{! <p class="card-category">All Projects</p> }}
	</div>
	<div class="card-body">
		
	</div>
</div> --}}
<style>
	
    thead th {
        font-size: 10px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        color:white;
    }

    tbody tr td {
        font-size: 12px !important;
    }
</style>
<script>
	$(document).ready(()=>{ let table = $(".table").DataTable({
	pageLength:50, responsive:true, dom:'Bfrtip', buttons: [ 'excel', 'csvHtml5',
	{ extend: 'pdfHtml5', orientation:'landscape', pageSize: 'LEGAL' } ], })
	table.columns().every( function () { var that = this; $( 'input',
	this.footer() ).on( 'keyup change', function () { that .search( this.value )
	.draw(); } ); } ); })
</script>