<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">All Students</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Continuing</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Completed</button>
        </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link" id="withdrawn-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Withdrawn</button>
        </li>
        </ul>
        <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row mt-3">
                <div class="col-12">
                    <table class="table table-sm table-bordered table-hover school-reports-table">
                        <thead>
                            <th>StudentName</th>
                            <th>Secondary School</th>
                            <th>Class</th>
                            <th>ScholarshipType</th>
                            <th>District</th>
                        </thead>
                        <tbody>
                            {{#each BusariesList}}
                                <tr onclick="openStudentReport({{this.ID}})">
                                    <td>{{this.StudentName}}</td>
                                    <td>{{this.SecondarySchool}}</td>
                                    <td>{{this.CurrentClass}}</td>
                                    <td>{{this.SchemeName}}</td>
                                    <td>{{this.DistrictName}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <label>CONTINUING</label>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <label>COMPLETED</label>
        </div>
        <div class="tab-pane fade" id="withdrawn" role="tabpanel" aria-labelledby="withdrawn-tab">
            <label>WITHDRAWN</label>
        </div>
    </div>
</div>
<style>
    table tbody tr{
        cursor: pointer;
    }
</style>
<script>
    $(()=>{

      

        let table = $("table.table.table-sm.school-reports-table").DataTable({
        pageLength:50, 
        responsive:true, 
        dom:'Bfrtip', 
        
        buttons: [ 
            'excel', 'csvHtml5',
            { extend: 'pdfHtml5', orientation:'landscape', pageSize: 'LEGAL'} 
        ], 
        })
        table.columns().every( function () { var that = this; $( 'input',
        this.footer() ).on( 'keyup change', function () { that .search( this.value )
        .draw(); } ); } ); 
    })

    let openStudentReport = (sid)=>{
        window.location.href = "/ViewStudentReport?sid="+sid;
    }
</script>