<div class="row">
    <form action="/SchoolReports" class="col-12">
        <div class="row">
            <div class="col-5">
                <input type="text" name="studenName" placeholder="Enter Student Name..." value="{{studentName}}" class="form-control form-control" required>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn btn-block btn-primary">Search <i class="icon search"></i></button>
            </div>
        </div>
    </form>
    <div class="col-12"><hr></div>
   <div class="col-12">
    <table class="table ui tiny celled hover striped school-reports-table">
                        <thead class="bg-secondary">
                            <th>StudentName</th>
                            <th>Secondary School</th>
                            <th>Class</th>
                            <th>ScholarshipType</th>
                            <th>Cohort</th>
                            <th>District</th>
                        </thead>
                        <tbody>
                            {{#each BusariesList}}
                                <tr onclick="openStudentReport({{this.ID}})">
                                    <td>{{this.StudentName}}</td>
                                    <td>{{this.SecondarySchool}}</td>
                                    <td>{{this.CurrentClass}}</td>
                                    <td>{{this.SchemeName}}</td>
                                    <td>{{this.Cohort}}</td>
                                    <td>{{this.Status}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
   </div>
       
        <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row mt-3">
                <div class="col-12">
                    
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <label>CONTINUING</label>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <label>COMPLETED</label>
        </div>
        <div class="tab-pane fade" id="withdrawn" role="tabpanel" aria-labelledby="withdrawn-tab">
            <label>WITHDRAWN</label>
        </div>
    </div>
</div>
<style>
     table thead th{
        color:white !important;
    }
    table thead, table thead th{
        background-color: rgb(49, 49, 49) !important;
    }
    table tbody tr td{
        font-weight: 600 !important;
    }
    table tbody tr{
        cursor: pointer;
    }
    
</style>
<script>
    $(()=>{

      

        let table = $("table.table.table-sm.school-reports-table").DataTable({
        pageLength:50, 
        responsive:true, 
        dom:'Bfrtip', 
        
        buttons: [ 
            'excel', 'csvHtml5',
            { extend: 'pdfHtml5', orientation:'landscape', pageSize: 'LEGAL'} 
        ], 
        })
        /*table.columns().every( function () { var that = this; $( 'input',
        this.footer() ).on( 'keyup change', function () { that .search( this.value )
        .draw(); } ); } ); */
    })

    let openStudentReport = (sid)=>{
        window.location.href = "/ViewStudentReport?sid="+sid;
    }
</script>