
<div class="container">
    <div class="row">
        {{!-- <div class="col-12">
            <p class="nav p-2 "><a href="commercial-investments">Investments</a>/View/{{details.ID}}</p>
        </div> --}}
        <div class="col-12 text-right">
             <button class="ui button icon tiny orange">Edit <i class="icon edit"></i></button>
            <button class="ui button negative tiny icon">Delete <i class="icon trash"></i></button>
            <hr>
        </div>
        <div class="col-12 p-2 mt-2" style="background-color:#374850;">
            <fieldset class="border border-white">
                <legend>Details</legend>
                <table class="table table-sm" style="width:100%;">
                <tbody>
                    <tr>
                        <td>RBM Company Code</td>
                        <td>{{details.RBMCompanyCode}}</td>
                    </tr>
                     <tr>
                        <td>Investment Name</td>
                        <td>{{details.InvestmentName}}</td>
                    </tr>
                    <tr>
                        <td>Investment Type</td>
                        <td>{{details.InvestmentType}}</td>
                    </tr>
                     <tr>
                        <td>Sector</td>
                        <td>{{details.Sector}}</td>
                    </tr>
                     <tr>
                        <td>Total Shares In Issue</td>
                        <td>{{details.TotalSharesInIssue}}</td>
                    </tr>
                     <tr>
                        <td>Current Shareholding</td>
                        <td>{{details.CurrentShareholding}}</td>
                    </tr>
                     <tr>
                        <td>Percent Holding</td>
                        <td>{{this.PercentHolding}}</td>
                    </tr>
                     <tr>
                        <td>Share Price</td>
                        <td>{{formatCurrency details.SharePrice}}</td>
                    </tr>
                     <tr>
                        <td>Current Valuation</td>
                        <td>{{formatCurrency details.CurrentValuation}}</td>
                    </tr>
                     <tr>
                        <td>Current Valuation Date</td>
                        <td>{{details.CurrentValuationDate}}</td>
                    </tr>
                     <tr>
                        <td>Status</td>
                        <td>{{#ifeq details.Approved '1'}}Approved{{else}}Pending{{/ifeq}}</td>
                    </tr>
                </tbody>

            </table>
            </fieldset>
        </div>

    </div>
</div>
<style>
    legend, td{color:white !important; font-weight:bold;}
</style>