<div class="row">
    <div class="col-12">
        <h4 class="bg-info text-white p-2"><i class="fa fa-folder-open" aria-hidden="true"></i> Listed Company Performance View ({{Trading.ID}})</h4>
    </div>
    <div class="col-8">
        <table class=" table-striped table-hover table-sm" style="width: 100%;">
            <tbody>
                <tr>
                    <th>RBM Company Code : </th>
                    <th>{{Trading.RBMCompanyCode}}</th>
                </tr>
                <tr>
                    <th>Investment Name : </th>
                    <th>{{Trading.InvestmentName}}</th>
                </tr>
                 <tr>
                    <th>Sector : </th>
                    <th>{{Trading.Sector}}</th>
                </tr>
                 <tr>
                    <th>Investment Type : </th>
                    <th>{{Trading.InvestmentType}}</th>
                </tr>
                 <tr>
                    <th>Transaction Date : </th>
                    <th>{{Trading.TransactionDate}}</th>
                </tr>
                 <tr>
                    <th>Opening Price : </th>
                    <th>{{Trading.OpeningPrice}}</th>
                </tr>
                 <tr>
                    <th>Closing Price : </th>
                    <th>{{Trading.ClosingPrice}}</th>
                </tr>
                 <tr>
                    <th>Percent Change : </th>
                    <th>{{Trading.PercentChange}}</th>
                </tr>
                 <tr>
                    <th>Volume Traded : </th>
                    <th>{{Trading.VolumeTraded}}</th>
                </tr>
                 <tr>
                    <th>Percent Traded : </th>
                    <th>{{Trading.PercentTraded}}</th>
                </tr>
                 <tr>
                    <th>Earnings : </th>
                    <th>{{Trading.Earnings}}</th>
                </tr>
                 <tr>
                    <th>PE : </th>
                    <th>{{Trading.PE}}</th>
                </tr>
                 <tr>
                    <th>PBV : </th>
                    <th>{{Trading.PBV}}</th>
                </tr>
                 <tr>
                    <th>Market CAP : </th>
                    <th>{{formatCurrency Trading.MarketCAP}}</th>
                </tr>
                 <tr>
                    <th>Status : </th>
                    <th>{{#ifeq Trading.Approved 1}} <span class="text-success">APPROVED</span>  {{/ifeq}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <h4 class="bg-info p-2 text-white">ACTION BUTTONS</h4>
            </div>
            {{!-- <div class="col-12"><hr></div> --}}
            <div class="col-12">
                <button class="btn btn-warning btn-block">UPDATE ITEM  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </div>
             {{!-- <div class="col-12">
                <button class="btn btn-black btn-block">CHANGE STATUS </button>
            </div> --}}
            <div class="col-12">
                <hr>
                <h4 class="text-danger text-center">Use the dropdown below to change the Approval Status!</h4>
                <form action="/investment/change_status" method="POST">
                    <div class="form-row">
                        <div class="col-12">
                            <input type="text" hidden value="{{Trading.ID}}" id="performanceID">
                            <select name="Status" id="changePerformanceStatus" style="width:100%;padding:5px;">
                                <option value="0" {{#ifeq Trading.Approved 0}}selected{{/ifeq}}>Pending</option>
                                <option value="1" {{#ifeq Trading.Approved 1}}selected{{/ifeq}}>Approved</option>
                                <option value="2" {{#ifeq Trading.Approved 2}}selected{{/ifeq}}>Rejected</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">

    </div>
</div>

<style>
    tbody tr th{
        font-size: 12px !important;
    }
</style>

<script>
    $(document).ready(()=>{
        $("#changePerformanceStatus").change(()=>{
            let object_id = $("#performanceID").val()
            let status = $("#changePerformanceStatus").val()
            console.log({object_id, status})
            location.href = `investments/performance/updatestatus/${status}/${object_id}`
        })
    })
</script>